@font-face {
    font-family: "space";
    src: 
        url("../fonts/space-webfont.woff2") format("woff2"),
        url("../fonts/space-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.3;
    display: flex;
    /* align-items: stretch; */
    /* justify-content: flex-start; */
    /* flex-direction: column; */

}

header {
    background: url(../imgs/alexander-andrews-the-heavens.jpg);
    background-size: cover;
    color: white;
    flex: 0 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    background: #F9FAFB;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    font-size: 20px;
    font-weight: 570;
}

.brand-banner{
    background-color: rgba(249, 250, 251, 0.1);
    display: flex;
    font-family: space;
    font-size: 30px;
    width: auto;
    align-items: center;
    padding: 1rem 3rem;
    margin-top: -300px;
}

.logo {
    width: 150px;
    transform: rotate(30deg);
}

.brand-name {
    letter-spacing: 0.2rem;
}

.form-control,
#create-acct-btn,
#have-acct-msg {
    font-size: 14px;
    font-weight: 400;
}

.form-description,
.input-container {
    padding: 0 3rem;
}


form {
    /* border: 2px red solid; */
    min-width: 100%;
}

.input-container {
    padding-left: 3rem;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 1.5rem 0rem;
    /* display: flex; */
}


#create-acct-btn,
#have-acct-msg {
    margin: 0.5rem 3rem;
}